{{>slider}}
{{>welcome}}
<div class="container">
          <section class="media-galleries">
            <ul>
              <li><a href="#"><img src="images/resource/gal-1.jpg" title="gallery pic 1" alt="gallery pic"></a></li>
              <li><a href="#"><img src="images/resource/gal-2.jpg" title="gallery pic 2" alt="gallery pic"></a></li>
              <li><a href="#"><img src="images/resource/gal-3.jpg" title="gallery pic 3" alt="gallery pic"></a></li>
            </ul>
          </section><!-- media galleries ends -->
</div>
{{>title-upcomingevents}}
{{>events}}
