  <div class="bottom">
  	<div class="container">
    	<div class="pull-left">
      	<p>&copy; 2013 <a href="Home">ravewith.us</a>. All Rights Reserved.</p>
      </div>
      <div class="pull-right">
      	Your ravewith.us crew: <a href="http://twitter.com/ravetrooper">@ravetrooper</a> and <a href="http://twitter.com/_untz">@_untz</a>
      </div>
    </div>
  </div><!-- bottom ends -->
