<div class="container">
<div class="events">
    <ul class="thumbnails featured">
      <li>
        <div class="thumbnail thumbnail-featured">
          <div class="image">
            <a href="events-detail.html"><img src="images/resource/thumb-featured-1.jpg" alt="thumb"></a>
          </div>
          <div class="caption">
            <span class="date">
              15 <em>Jun</em>
            </span>
            <h5><a href="events-detail.html">Mid parturient dictumst in sagittis</a></h5>
            <div class="links">
              <a href="#"><i class="icon-location"></i>Miami, USA</a>
              <a href="#"><i class="icon-ticket"></i>Buy Ticket</a>
            </div>
            <p>Mid parturient dictumst in sagittis purus. Aliquet rhoncus. Risus lorem augue penatibus, mauris penatibus, ac enim? Enim, lacus eu auctor? Purus diam montes urna. Et massa natoque dapibus, cras a cursus sit quis sed.</p>
          </div><!-- caption ends -->
        </div><!-- thumbnail ends -->
      </li>
      <li>
        <div class="thumbnail">
          <div class="image">
            <a href="events-detail.html"><img src="images/resource/thumb/thumb-1.jpg" alt="thumb"></a>
          </div>
          <div class="caption">
            <h5><a href="events-detail.html">Mid parturient dictumst in sagittis</a></h5>
            <div class="links">
              <a href="#"><i class="icon-location"></i>Miami, USA</a>
            </div>
          </div><!-- caption ends -->
        </div><!-- thumbnail ends -->
      </li>
      <li>
        <div class="thumbnail">
          <div class="image">
            <a href="events-detail.html"><img src="images/resource/thumb/thumb-2.jpg" alt="thumb"></a>
          </div>
          <div class="caption">
            <h5><a href="events-detail.html">Mid parturient dictumst in sagittis</a></h5>
            <div class="links">
              <a href="#"><i class="icon-location"></i>Miami, USA</a>
            </div>
          </div><!-- caption ends -->
        </div><!-- thumbnail ends -->
      </li>
      <li>
        <div class="thumbnail">
          <div class="image">
            <a href="events-detail.html"><img src="images/resource/thumb/thumb-3.jpg" alt="thumb"></a>
          </div>
          <div class="caption">
            <h5><a href="events-detail.html">Mid parturient dictumst in sagittis</a></h5>
            <div class="links">
              <a href="#"><i class="icon-location"></i>Miami, USA</a>
            </div>
          </div><!-- caption ends -->
        </div><!-- thumbnail ends -->
      </li>
      <li>
        <div class="thumbnail">
          <div class="image">
            <a href="events-detail.html"><img src="images/resource/thumb/thumb-4.jpg" alt="thumb"></a>
          </div>
          <div class="caption">
            <h5><a href="events-detail.html">Mid parturient dictumst in sagittis</a></h5>
            <div class="links">
              <a href="#"><i class="icon-location"></i>Miami, USA</a>
            </div>
          </div><!-- caption ends -->
        </div><!-- thumbnail ends -->
      </li>
      <li>
        <div class="thumbnail">
          <div class="image">
            <a href="events-detail.html"><img src="images/resource/thumb/thumb-5.jpg" alt="thumb"></a>
          </div>
          <div class="caption">
            <h5><a href="events-detail.html">Mid parturient dictumst in sagittis</a></h5>
            <div class="links">
              <a href="#"><i class="icon-location"></i>Miami, USA</a>
            </div>
          </div><!-- caption ends -->
        </div><!-- thumbnail ends -->
      </li>
      <li>
        <div class="thumbnail">
          <div class="image">
            <a href="events-detail.html"><img src="images/resource/thumb/thumb-6.jpg" alt="thumb"></a>
          </div>
          <div class="caption">
            <h5><a href="events-detail.html">Mid parturient dictumst in sagittis</a></h5>
            <div class="links">
              <a href="#"><i class="icon-location"></i>Miami, USA</a>
            </div>
          </div><!-- caption ends -->
        </div><!-- thumbnail ends -->
      </li>
    </ul>
	</div><!-- events end -->
</div><!-- container end -->
