     <section class="comment-area">
        <h2 class="text-pink">Leave Reply</h2>
        <form method="get" action="index.html">
          <ul class="unstyled">
            <li class="row-fluid">
              <div class="span6">
              	<label>Name <span class="require">(Required)</span></label>
                <input type="text" class="input-block-level" placeholder="">
              </div>
              <div class="span6">
              	<label>Email <span class="require">(Required)</span></label>
                <input type="text" class="input-block-level" placeholder="">
              </div>
            </li>
						<li class="row-fluid">
              <div class="span12">
              	<label>Subject <span class="require">(Required)</span></label>
                <input type="text" class="input-block-level" placeholder="">
              </div>
            </li>
            <li class="row-fluid">
              <div class="span12">
              	<label>Message <span class="require">(Required)</span></label>
                <textarea class="input-block-level" placeholder=""></textarea>
              </div>
            </li>
            <li class="row-fluid">
              <div class="span12">
                <input type="submit" class="btn btn-red submit" value="Submit">
              </div>
            </li>
          </ul>
        </form>
      </section><!-- comment form ends -->
