<div class="container">
<div class="location-map">
          	<iframe src="http://maps.google.com/?ie=UTF8&amp;ll=32.7688,-74.355469&amp;spn=41.328535,86.572266&amp;t=m&amp;z=4&amp;output=embed"></iframe>
          </div><!-- location-map ends -->
</div><!-- container ends -->