<header class="header">
	<div class="container">
    <div class="logo">
      <a href="Home"><img src="images/logo.png" alt="r"></a>
    </div>
    <nav class="main-nav">
    	<a href="Home" class="tablet-menu"></a>
    <ul>
      {{>nav-links}}
    </ul>
      <div class="user-control">
        <a href="Home" class="user-search"></a>
      	<a href="Home" class="user-login"></a>
      </div>
    </nav>
	</div>
</header>
