<div class="container">
	<div class="row">
  	<div class="contents span8">
      <div class="news">
        <ul class="news-list">
          <li>
            <div class="news-block">
              <div class="news-heading">
                <span class="date">
                  15 <em>Jun</em>
                </span>
                <h3>
                  <a href="blog-detail.html">Similar to our talked about 'no shoes' policy, our business cards are the small details that make our agency stand out among others.</a>
                </h3>
              </div><!-- news-heading ends -->
              <div class="news-links">
                <ul>
                  <li><a href="#"><i class="icon-list"></i>Music</a>, <a href="#">Entertainment</a>, <a href="#">Funny</a></li>
                  <li><a href="#"><i class="icon-comment"></i>45 Comments</a></li>
                </ul>
              </div><!-- news-links end -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus, sagittis facilisis sapien tincidunt vitae. Donec elementum, ante id lacinia pretium, risus mi tincidunt eros, pellentesque pretium mi augue ac tellus. Mauris velit dolor, tempor et pharetra eget, porta a sapien. Pellentesque risus leo, tempor in tincidunt vel, pretium vitAliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus,... <a href="blog-detail.html" class="readmore">Continue Reading</a></p>
            </div><!-- news-block ends -->
          </li>
          <li>
            <div class="news-block">
              <div class="news-heading">
                <span class="date">
                  15 <em>Jun</em>
                </span>
                <h3>
                  <a href="blog-detail.html">Similar to our talked about 'no shoes' policy, our business cards are the small details that make our agency stand out among others.</a>
                </h3>
              </div><!-- news-heading ends -->
              <div class="news-links">
                <ul>
                  <li><a href="#"><i class="icon-list"></i>Music</a>, <a href="#">Entertainment</a>, <a href="#">Funny</a></li>
                  <li><a href="#"><i class="icon-comment"></i>45 Comments</a></li>
                </ul>
              </div><!-- news-links end -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus, sagittis facilisis sapien tincidunt vitae. Donec elementum, ante id lacinia pretium, risus mi tincidunt eros, pellentesque pretium mi augue ac tellus. Mauris velit dolor, tempor et pharetra eget, porta a sapien. Pellentesque risus leo, tempor in tincidunt vel, pretium vitAliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus,... <a href="blog-detail.html" class="readmore">Continue Reading</a></p>
            </div><!-- news-block ends -->
          </li>
          <li>
            <div class="news-block">
              <div class="news-heading">
                <span class="date">
                  15 <em>Jun</em>
                </span>
                <h3>
                  <a href="blog-detail.html">Similar to our talked about 'no shoes' policy, our business cards are the small details that make our agency stand out among others.</a>
                </h3>
              </div><!-- news-heading ends -->
              <div class="news-links">
                <ul>
                  <li><a href="#"><i class="icon-list"></i>Music</a>, <a href="#">Entertainment</a>, <a href="#">Funny</a></li>
                  <li><a href="#"><i class="icon-comment"></i>45 Comments</a></li>
                </ul>
              </div><!-- news-links end -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus, sagittis facilisis sapien tincidunt vitae. Donec elementum, ante id lacinia pretium, risus mi tincidunt eros, pellentesque pretium mi augue ac tellus. Mauris velit dolor, tempor et pharetra eget, porta a sapien. Pellentesque risus leo, tempor in tincidunt vel, pretium vitAliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus,... <a href="blog-detail.html" class="readmore">Continue Reading</a></p>
            </div><!-- news-block ends -->
          </li>
          <li>
            <div class="news-block">
              <div class="news-heading">
                <span class="date">
                  15 <em>Jun</em>
                </span>
                <h3>
                  <a href="blog-detail.html">Similar to our talked about 'no shoes' policy, our business cards are the small details that make our agency stand out among others.</a>
                </h3>
              </div><!-- news-heading ends -->
              <div class="news-links">
                <ul>
                  <li><a href="#"><i class="icon-list"></i>Music</a>, <a href="#">Entertainment</a>, <a href="#">Funny</a></li>
                  <li><a href="#"><i class="icon-comment"></i>45 Comments</a></li>
                </ul>
              </div><!-- news-links end -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus, sagittis facilisis sapien tincidunt vitae. Donec elementum, ante id lacinia pretium, risus mi tincidunt eros, pellentesque pretium mi augue ac tellus. Mauris velit dolor, tempor et pharetra eget, porta a sapien. Pellentesque risus leo, tempor in tincidunt vel, pretium vitAliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus,... <a href="blog-detail.html" class="readmore">Continue Reading</a></p>
            </div><!-- news-block ends -->
          </li>
          <li>
            <div class="news-block">
              <div class="news-heading">
                <span class="date">
                  15 <em>Jun</em>
                </span>
                <h3>
                  <a href="blog-detail.html">Similar to our talked about 'no shoes' policy, our business cards are the small details that make our agency stand out among others.</a>
                </h3>
              </div><!-- news-heading ends -->
              <div class="news-links">
                <ul>
                  <li><a href="#"><i class="icon-list"></i>Music</a>, <a href="#">Entertainment</a>, <a href="#">Funny</a></li>
                  <li><a href="#"><i class="icon-comment"></i>45 Comments</a></li>
                </ul>
              </div><!-- news-links end -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus, sagittis facilisis sapien tincidunt vitae. Donec elementum, ante id lacinia pretium, risus mi tincidunt eros, pellentesque pretium mi augue ac tellus. Mauris velit dolor, tempor et pharetra eget, porta a sapien. Pellentesque risus leo, tempor in tincidunt vel, pretium vitAliquam vel lorem eget velit condimentum interdum. Nam consectetur pellentesque purus,... <a href="blog-detail.html" class="readmore">Continue Reading</a></p>
            </div><!-- news-block ends -->
          </li>
        </ul><!-- news-list ends -->
        <div class="pagination">
          <ul>
            <li class="previous"><a href="#">&lt; First</a></li>
            <li><a href="#">&lt;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">&gt;</a></li>
            <li class="next"><a href="#">Last &gt;</a></li>
          </ul>
        </div><!-- pagination ends -->
      </div><!-- news end -->
		</div>
    <div class="sidebar span4">
    	<div class="widget widget-search">
      	<h3>Search</h3>
        <div class="search-box">
        	<form method="post" action="index.html">
          	<input type="submit">
            <input type="text" placeholder="Enter keyword and press Enter">
          </form>
        </div>
      </div>
      <div class="widget widget_recent_post">
      	<h3>Recent Posts</h3>
        <ul>
					<li>
          	<img src="images/resource/thumb/post-thumb-1.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>Dis purus arcu etiam auctor risus aliquam mid turpis eu vel...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>
          <li>
          	<img src="images/resource/thumb/post-thumb-2.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>aliquam pellentesque eros urna, hac nisi a nec, tincidunt rhoncus ac magna...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>        
					<li>
          	<img src="images/resource/thumb/post-thumb-1.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>Dis purus arcu etiam auctor risus aliquam mid turpis eu vel...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="widget widget_tag_cloud">
        <h3>Tag Cloud</h3>
        <div class="tagcloud">
          <a href="#">Lorem</a>
          <a href="#">Ipsum</a>
          <a href="#">consectetur</a>
          <a href="#">elit</a>
          <a href="#">commodo</a>
          <a href="#">Suspendisse</a>
          <a href="#">consectetur</a>
          <a href="#">Lorem</a>
          <a href="#">Ipsum</a>
          <a href="#">consectetur</a>
          <a href="#">elit</a>
          <a href="#">commodo</a>
          <a href="#">Suspendisse</a>
          <a href="#">consectetur</a>
        </div>
      </div>
    </div><!-- sidebar ends -->
  </div>
</div><!-- container ends -->