<div class="video-thumb">
						<iframe src="http://player.vimeo.com/video/70542132"></iframe>
            <div class="info">
              <span><i class="icon-vimeo"></i></span>
            </div>
          </div><!-- video-thumb ends -->
          <hr>
