<div class="row">
<div class="span6">
<div class="video-thumb">
                                <iframe class="youtube-player" src="http://www.youtube.com/embed/mmff6QECIMo" allowfullscreen="" frameborder="0" height="192" width="320"></iframe>
            <div class="info">
              <span><i class="icon-youtube"></i></span>
            </div>
          </div><!-- video-thumb ends -->
          <hr>
</div>
<div class="span6">
<div class="video-thumb">
                                <iframe class="youtube-player" src="http://www.youtube.com/embed/mmff6QECIMo" allowfullscreen="" frameborder="0" height="192" width="320"></iframe>
            <div class="info">
              <span><i class="icon-youtube"></i></span>
            </div>
          </div><!-- video-thumb ends -->
          <hr>
</div>
</div>