        <li><a href="Home">Home</a></li>
        <li><a href="About">About</a></li>
        <li>
        	<a href="Events">Events</a>
        	<ul>
          	<li>
            	<a href="Events">My Events</a>
              <ul>
                <li><a href="Events">Attending</a>
                  <ul>
                    <li><a href="Events">Event one</a></li>
                    <li><a href="Events">Event two</a></li>
                    <li><a href="Events">Event three</a></li>
                  </ul>
                </li>
                <li><a href="Events">Watch List</a>
                  <ul>
                    <li><a href="Events">Event one</a></li>
                    <li><a href="Events">Event two</a></li>
                    <li><a href="Events">Event three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          	<li><a href="Events">Local</a></li>
          	<li><a href="Events">Popular</a></li>
          	<li><a href="Events">Travel Packages</a></li>
                <li><a href="Events">Live Streams</a></li>
          </ul>
        </li>
        <li><a href="Shop">Shop</a></li>
        <li><a href="Blog">Blog</a></li>
        <li><a href="News">News</a></li>
        <li>
        	<a href="Community">Community</a>
        	<ul>
          	<li>
            	<a href="Community">Meet Ups</a>
              <ul>
                <li><a href="Community">Current</a>
                  <ul>
                    <li><a href="Community">Event one</a></li>
                    <li><a href="Community">Event two</a></li>
                    <li><a href="Community">Event three</a></li>
                  </ul>
                </li>
                <li><a href="Community">Future</a>
                  <ul>
                    <li><a href="Community">Event one</a></li>
                    <li><a href="Community">Event two</a></li>
                    <li><a href="Community">Event three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          	<li><a href="Community">Share Memories</a>
                  <ul>
                    <li><a href="Community">Photos</a></li>
                    <li><a href="Community">Videos</a></li>
                    <li><a href="Community">Discussion</a></li>
                    <li><a href="Community">All</a></li>
                  </ul>
                </li>
          	<li><a href="Community">Trending Topics</a></li>
          	<li><a href="Community">Forums</a></li>
          </ul>
        </li>
        <li><a href="Contact">Contact</a></li>
        
