  <div class="gallery">  
    <div class="heading">
      <h2><span>Our</span>Gallery</h2>
    </div>
    <div class="row">
      <div class="span4">
        <div class="image">
          <a href="images/resource/img-3.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="images/resource/img-3.jpg" alt="thumb">
            <div class="image-info">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </a>
        </div>
      </div>
      <div class="span4">
        <div class="image">
          <a href="images/resource/img-4.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="images/resource/img-4.jpg" alt="thumb">
            <div class="image-info">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </a>
        </div>
      </div>
      <div class="span4">
        <div class="image">
          <a href="images/resource/img-5.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="images/resource/img-5.jpg" alt="thumb">
            <div class="image-info">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </a>
        </div>
      </div>
		</div>
  </div><!-- gallery ends -->
