      <div class="widget widget_newsletter">
      	<h3>Community Newsletter</h3>
        <div class="newsletter">
        	<p>Sign up to get daily or weekly highlights from the Community.</p>
          <div class="subscribe-field">
          	<input type="text" placeholder="Enter your Email Address">
            <input type="submit" class="btn" value="Subscribe">
          </div>
          <label class="display-inline">
          	<input type="checkbox">Daily Newsletter
          </label>
          <label class="display-inline">
          	<input type="checkbox">Weekly Newsletter
          </label>
        </div>
      </div>
