      <div class="widget widget_tag_cloud">
        <h3>Trending</h3>
        <div class="tagcloud">
        	<li><a href="#">#amet</a></li>
        	<li><a href="#">#arcu</a></li>
        	<li><a href="#">#natoque</a></li>
        	<li><a href="#">#Dis</a></li>
        	<li><a href="#">#aliquam</a></li>
        	<li><a href="#">#pellentesque</a></li>
        	<li><a href="#">#rhoncus</a></li>
        	<li><a href="#">#eros</a></li>
        	<li><a href="#">#arcu</a></li>
        	<li><a href="#">#natoque</a></li>
        	<li><a href="#">#aenean</a></li>
        	<li><a href="#">#aliquam</a></li>
        </ul>
      </div>