      <div class="widget widget_recent_post">
      	<h3>Recent Posts</h3>
        <ul>
					<li>
          	<img src="images/resource/thumb/post-thumb-1.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>Dis purus arcu etiam auctor risus aliquam mid turpis eu vel...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>
          <li>
          	<img src="images/resource/thumb/post-thumb-2.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>aliquam pellentesque eros urna, hac nisi a nec, tincidunt rhoncus ac magna...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>        
        </ul>
      </div>
