    <div class="sidebar span4">
    	<div class="widget widget-search">
      	<h3>Search</h3>
        <div class="search-box">
        	<form method="post" action="index.html">
          	<input type="submit">
            <input type="text" placeholder="Enter keyword and press Enter">
          </form>
        </div>
      </div>
      <div class="widget widget_recent_post">
      	<h3>Recent Posts</h3>
        <ul>
					<li>
          	<img src="images/resource/thumb/post-thumb-1.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>Dis purus arcu etiam auctor risus aliquam mid turpis eu vel...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>
          <li>
          	<img src="images/resource/thumb/post-thumb-2.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>aliquam pellentesque eros urna, hac nisi a nec, tincidunt rhoncus ac magna...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>        
					<li>
          	<img src="images/resource/thumb/post-thumb-1.jpg" alt="post thumb">
            <div class="post-data">
            	<a href="#"><h6>Dis purus arcu etiam auctor risus aliquam mid turpis eu vel...</h6></a>
              <p>January 4, 2013</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="widget widget_tag_cloud">
        <h3>Tag Cloud</h3>
        <div class="tagcloud">
          <a href="#">Lorem</a>
          <a href="#">Ipsum</a>
          <a href="#">consectetur</a>
          <a href="#">elit</a>
          <a href="#">commodo</a>
          <a href="#">Suspendisse</a>
          <a href="#">consectetur</a>
          <a href="#">Lorem</a>
          <a href="#">Ipsum</a>
          <a href="#">consectetur</a>
          <a href="#">elit</a>
          <a href="#">commodo</a>
          <a href="#">Suspendisse</a>
          <a href="#">consectetur</a>
        </div>
      </div>
      <div class="widget widget-accordion" id="accordion">
        <h6>Aliquam viverra nisl ac ante</h6>
        <div>
          <p>Donec massa orci, accumsan et eleifend ut, ultrices sit amet lacus. Vestibulum ant e ipsum primis iDonec massa orci, accumsan et eleifend Donec massa orci, accumsan e.</p>
        </div>
        <h6>Nullam molestie euismo.</h6>
        <div>
          <p>Donec massa orci, accumsan et eleifend ut, ultrices sit amet lacus.</p>
        </div>
        <h6>Nulla imperdiet iaculis nulla.</h6>
        <div>
          <p>Donec massa orci, accumsan et eleifend ut, ultrices sit amet lacus. Vestibulum ant e ipsum primis iDonec massa orci, accumsan et eleifend Donec massa orci, accumsan e.</p>
          <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
          </ul>
        </div>
      </div>
    </div><!-- sidebar ends -->
