<div class="fullwidthbanner-container">
  <div class="fullwidthbanner">
    <ul>
      <li data-transition="papercut" data-slotamount="15" data-masterspeed="2300" data-delay="9400">
        <img src="images/resource/slides/slide-1.jpg" alt="slide">
        <div class="caption medium_pink lfl stl"
           data-x="0"
           data-y="210"
           data-speed="300"
           data-start="500"
           data-easing="easeOutExpo">Vivamusit vivamus sagit
       	</div>
        <div class="caption small_grey lfl"
           data-x="0"
           data-y="254"
           data-speed="300"
           data-start="800"
           data-easing="easeOutExpo">
           Donec sed odio dui. Sed posuere consectetur est at lobortis Vivamusit vivamus sagit
        </div>
        <a href="#" class="caption btn-default lfb"
           data-x="0"
           data-y="300"
           data-speed="300"
           data-start="820"
           data-easing="easeOutExpo">consequuntur magni
        </a>       
	</li>
      <li data-transition="flyin" data-slotamount="1" data-masterspeed="300">
        <img src="images/resource/slides/slide-2.jpg" alt="slide">
        
        <div class="caption buy_ticket sfl"
          data-x="655"
          data-y="185"
          data-speed="1200"
          data-start="1300"
          data-easing="easeOutExpo">On Sale
        </div>
        <div class="caption start_date sfr"
          data-x="880"
          data-y="188"
          data-speed="1200"
          data-start="1300"
          data-easing="easeOutExpo">Jan. 8 - Jan. 10
        </div>
        <div class="caption very_large_pink sfb"
          data-x="600"
          data-y="280"
          data-speed="800"
          data-start="1000"
          data-easing="easeOutExpo">
          	Sed quia consequuntur
        </div>
      </li>
      <li data-transition="3dcurtain-horizontal" data-slotamount="1" data-masterspeed="300">
        <img src="images/resource/slides/slide-2.jpg" alt="slide-2">
        <div class="caption large_pink sft"
          data-x="center"
          data-y="350"
          data-speed="800"
          data-start="1000"
          data-easing="easeOutExpo">
          	Nemo enim ipsam voluptatem quia voluptas
        </div>
        <div class="caption big_white sfb"
          data-x="center"
          data-y="420"
          data-speed="800"
          data-start="1000"
          data-easing="easeOutExpo">
          	Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div><!-- slider ends -->
