          <div class="tags">
          	<h6>Event Tags:</h6>
						<div class="tag-links">
            	<a href="#">Aenean</a>
							<a href="#">sapien</a>
							<a href="#">adipiscing</a>
							<a href="#">adip</a>
            </div>
          </div><!-- tags end -->
