<div class="container">
<div class="span12">    	
<section class="blog-box">
        <div class="blog-details">
        	<h6>
          	Aenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus. Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus. Integer ac elit at nisi ultrices condimentum.
          </h6>
          <p>Aenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus. Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus. Integer ac elit at nisi ultrices condimentum. Integer malesuada leo eu mi cursus vel sagittis tellus tincidunt. Quisque cursus arta tempor velit.</p>
        </div><!-- blog-details end -->
      </section><!-- blog-box ends -->
</div>
</div>
