<div class="tweets-bar">
  <div class="tweets-container container">
  	<h5>Latest Tweets</h5>
    <ul class="tweets">
    	<li>
      	<a href="#">@_untz</a> Sure thing, please open a ticket with <a href="Support">Support</a> and be so kind as to give me your ticket number. Thanks!
      </li>
    	<li>
      	<a href="#">@theravetrooper</a> Hey, everybody!
      </li>
    	<li>
      	<a href="#">@_untz</a> Don't forget to get your tickets for next weekend!
      </li>
    </ul>
  </div>
</div><!-- tweets-bar ends -->
