      <div class="widget widget-accordion" id="accordion">
        <h6>Aliquam viverra nisl ac ante</h6>
        <div>
          <p>Donec massa orci, accumsan et eleifend ut, ultrices sit amet lacus. Vestibulum ant e ipsum primis iDonec massa orci, accumsan et eleifend Donec massa orci, accumsan e.</p>
        </div>
        <h6>Nullam molestie euismo.</h6>
        <div>
          <p>Donec massa orci, accumsan et eleifend ut, ultrices sit amet lacus.</p>
        </div>
        <h6>Nulla imperdiet iaculis nulla.</h6>
        <div>
          <p>Donec massa orci, accumsan et eleifend ut, ultrices sit amet lacus. Vestibulum ant e ipsum primis iDonec massa orci, accumsan et eleifend Donec massa orci, accumsan e.</p>
          <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
          </ul>
        </div>
      </div>
