      <div class="widget widget_tag_cloud">
        <h3>Trending</h3>
        <div class="tagcloud">
          <a href="#">Lorem</a>
          <a href="#">Ipsum</a>
          <a href="#">consectetur</a>
          <a href="#">elit</a>
          <a href="#">commodo</a>
          <a href="#">Suspendisse</a>
          <a href="#">consectetur</a>
          <a href="#">Lorem</a>
          <a href="#">Ipsum</a>
          <a href="#">consectetur</a>
          <a href="#">elit</a>
          <a href="#">commodo</a>
          <a href="#">Suspendisse</a>
          <a href="#">consectetur</a>
        </div>
      </div>
