    	<div class="widget widget-search">
      	<h3>Search</h3>
        <div class="search-box">
        	<form method="post" action="index.html">
          	<input type="submit">
            <input type="text" placeholder="Enter keyword and press Enter">
          </form>
        </div>
      </div>
